@import "bootstrap/dist/css/bootstrap.css";


body{
    background: #141315;
    /*background: #301054;*/
}
.cardx{
    background: #333033;
    /*background: #4e099d;*/
}
.containerx{

    background-image:url("https://tse4.mm.bing.net/th?id=OIP.k2pBMebSUlqTS1KN8cihfwHaE7&pid=Api&P=0&h=180") ;

}
.logox{
    background-image: url("https://cdn.pixabay.com/photo/2017/06/10/07/24/note-2389227_1280.png");

}